body,
h2,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.motion-screens-list {
  font-size: 1.125rem;
}

.list-heading {
  padding: 0.5rem 0.25rem 0.25rem;
}

.motion-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem;
}

.motion-screen-info {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.date {
  background-color: #F0FAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  padding: 1rem 0.75rem;
  border-radius: 10%;
}

.day-month {
  font-size: 1rem;
  font-weight: 500;
}

.year {
  font-size: 0.9rem;
  font-weight: 300;
}

.team-and-details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.team {
  font-weight: 600;
}

.details {
  font-size: 0.9rem;
  font-weight: 350;
}

li:hover {
  background-color: grey;
}
